{% extends "bootstrap/base.html" %}
{% block title %}Europredictor{% endblock %}





{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {% if active == "home" %}
      <li class="active"><a href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
      {% else %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
      {% endif %}

      {% if active == "matches" %}
      <li class="active"><a href="{{ url_for('matches') }}">Matches <span class="sr-only">(current)</span></a></li>
      {% else %}
          <li><a href="{{ url_for('matches') }}">Matches</a></li>
      {% endif %}

      {% if active == "graph" %}
      <li class="active"><a href="{{ url_for('graph') }}">Custom Graph <span class="sr-only">(current)</span></a></li>
      {% else %}
          <li><a href="{{ url_for('graph') }}">Custom Graph </a></li>
      {% endif %}

    </ul>
  </div><!-- /.container-fluid -->
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
